<div class="col-md-8 col-centered">

<h1 class="text-center">Welcome!</h1>

<div id="stats">
  <h2>Stats</h2>
    <ul>
    <% @users.each do |user| %>
      <li id="<%=user.id%>"><%= user.name %></li>
    <% end %>
    </ul>
</div>

<hr class="style-seven">

<div id="did-a-thing">
  <div class="button-wrapper" id="first">
    <button class="btn btn-default" id="first" type="button">I did a thing!</button>
  </div>
  <div id="who">
    <h2 class="text-center">Who are you?</h2>
      <div class="button-wrapper">
        <% @users.each do |user| %>
          <button class="btn btn-default user" type="button" id="<%=user.id%>"><%=user.name%></button>
        <% end %>
      </div>
  </div>
    <div id="what">
    <h2 class="text-center">What did you do?</h2>
      <div class="button-wrapper">
        <% @chores.each do |chore| %>
          <button class="btn btn-default chore" type="button" id="<%=chore.id%>" title="<%=chore.name%>"><img src="<%=chore.icon%>"></button>
        <% end %>
      </div>
  </div>
</div>


