<div class="col-md-8 col-centered">

<h1 class="text-center">Welcome!</h1>

<div id="stats">
    <table class="table">
    <% @users.each do |user| %>
      <tr id="<%=user.id%>">
        <td class="col-md-12"><%= user.name %>
        <%user.goldstars.length.times do%><img src='../images/goldstar3.png'><%end%></td>
      </tr>
    <% end %>
    </table>
</div>

<hr class="style-seven">

<div id="did-a-thing">
  <div class="button-wrapper" id="first">
    <button class="btn btn-default" id="first" type="button">I did a thing!</button>
  </div><!--end bttn wrapper-->
  <div id="who">
    <h2 class="text-center">Who are you?</h2>
      <div class="button-wrapper">
        <% @users.each do |user| %>
          <button class="btn btn-default user" type="button" id="<%=user.id%>"><%=user.name%></button>
        <% end %>
      </div><!--end bttn wrapper-->
  </div><!--end who-->
  <div id="what">
    <h2 class="text-center">What did you do?</h2>
      <div class="button-wrapper">
        <% @chores.each do |chore| %>
          <button class="btn btn-default chore" type="button" id="<%=chore.id%>" title="<%=chore.name%>"><img src="<%=chore.icon%>"></button>
        <% end %>
      </div><!--end bttn wrapper-->
  </div><!--end what-->
  <div id="thank-you">
      <h2 class="text-center">You are awesome!</h2>
        <!-- <div class="button-wrapper" id="first">
          <button class="btn btn-default user" type="button">Anything else?</button> -->
  </div><!--end thank-you-->
  </div><!--end did-a-thing-->

<hr class="style-seven">

  <div class="text-center" id="things-to-do">
    <%= erb :'_dirty_sentence', :layout => false, :locals =>{chores: @chores} %>
  </div>

<hr class="style-seven">

</div>